.pblog{
    
    margin: 20px;
    margin-bottom:10px ;
    margin-top:10px ;
    height: 300px;
    border: 1px solid black;
    display: flex;
    text-align: start;
    flex-direction: column;
  
}
.ntitle{
    display: flex;
    align-items: center;
    border:1px solid black;
    justify-content: space-between;
}
.buttons{
    display: flex;
    gap:10px
}
.btn{
    height: 30px;
    margin: 1px;
    display: flex;
    text-align: center;
}
.timestamp{
    text-align: start;
}
.conte{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}