.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fcount{
    display: flex;
    align-items: center;
    justify-content: center;
     gap: 40px;
}
.cf{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.count{
    font-size: 25px;
}
.create{
    margin: 20px;
    height: 40px;
    border-radius: 5px;
    font-family:cursive;
    color: white;
    background-color: rgb(72, 69, 69);
}
.lo{
    color: red;
    border: 1cm;
    border-radius: 2px;
}
button:hover{
    color: rgb(142, 221, 142);
}